<div th:fragment="foot">
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
                <div class="panel panel-info">
                    <div class="panel-heading">

                        <span sec:authorize="isAuthenticated()">
                            <i>
                                <form id="logoutForm" method="POST" th:action="@{/logout}">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                </form>
                                Identifié en tant que : <b><span sec:authentication="name"></span></b> | Profil : <b><span sec:authentication="principal.authorities"></span></b> |
                                <a onclick="document.forms['logoutForm'].submit()"><b>Se déconnecter</b></a>
                                </i><br/>
                        </span>
                        <i>© 2017-2018 - Car Sharing Club - Univers 7 PDS - ESIPE UPEC</i>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
            </div>
        </div>
    </div>
</div>