<head lang="en" th:fragment="includes" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/webjars/font-awesome/5.0.2/web-fonts-with-css/css/fontawesome-all.css}" rel="stylesheet" media="screen"/>
    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}" >
        </script>
    <title>Car Sharing Club - Portail Web</title>
</head>
    <div th:fragment="menu">
        <br/>
        <div class="container">
            <div class="row">
                <div class="col-xs-2">
                </div>
                <div class="col-xs-8">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4><p><b>CSC - MENU</b></p></h4>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item justify-content-between">
                                    <i class="fa fa-user fa-lg" aria-hidden="true"></i>
                                    <a href="#" th:href="@{/myaccount}" style="margin-left:10px;padding-left:10px;text-align:right;color:black;"><b>Gérer mon profil client</b></a>
                                </li>
                                <div sec:authorize="hasAuthority('backoffice')">
                                    <li  class="list-group-item justify-content-between">
                                        <i class="fa fa-users fa-lg" aria-hidden="true"></i>
                                        <a href="#" th:href="@{/admin/accounts}" style="margin-left:10px;padding-left:10px;text-align:right;color:black;"><b><u>[ADMIN]</u> Gérer les profils clients</b></a>
                                    </li>
                                    <li class="list-group-item justify-content-between">
                                        <i class="fa fa-percent fa-lg" aria-hidden="true"></i>
                                        <a href="#" th:href="@{/stats}" style="margin-left:10px;padding-left:10px;text-align:right;color:black;"><b><u>[ADMIN]</u> Consulter les statistiques</b></a>
                                    </li>
                                    <li class="list-group-item justify-content-between">
                                        <i class="fas fa-euro-sign" aria-hidden="true"></i>
                                        <a href="#" th:href="@{/mainActivity}" style="margin-left:10px;padding-left:10px;text-align:right;color:black;"><b><u>[ADMIN]</u>Solder l'activité client</b></a>
                                    </li>
                                </div>
                                <li class="list-group-item justify-content-between">
                                    <i class="fa fa-edit fa-lg" aria-hidden="true"></i>
                                    <a href="#" th:href="@{/referentielTarifCM}" style="margin-left:10px;padding-left:10px;text-align:right;color:black;"><b>Référentiel des tarifs</b></a>
                                </li>
                                <li class="list-group-item justify-content-between">
                                    <i class="fa fa-edit fa-lg" aria-hidden="true"></i>
                                    <a href="#" th:href="@{/parkings}" style="margin-left:10px;padding-left:10px;text-align:right;color:black;"><b>Référentiel des places de parking</b></a>
                                </li>
                                <li class="list-group-item justify-content-between">
                                    <i class="fa fa-edit fa-lg" aria-hidden="true"></i>
                                    <a href="#" th:href="@{/searchplace}" style="margin-left:10px;padding-left:10px;text-align:right;color:black;"><b>Rechercher des places de parking</b></a>
                                </li>
                                 <li class="list-group-item justify-content-between">
                                     <i class="fa fa-edit fa-lg" aria-hidden="true"></i>
                                    <a href="#" th:href="@{/addcar}" style="margin-left:10px;padding-left:10px;text-align:right;color:black;"><b>Ajout de véhicule</b></a>
                                </li>
                                <li class="list-group-item justify-content-between">
                                     <i class="fa fa-edit fa-lg" aria-hidden="true"></i>
                                    <a href="#" th:href="@{/selectcar}" style="margin-left:10px;padding-left:10px;text-align:right;color:black;"><b>Rechercher véhicule(s)</b></a>
                                </li>

                                 <li class="list-group-item justify-content-between">
                                     <i class="fa fa-edit fa-lg" aria-hidden="true"></i>
                                    <a href="#" th:href="@{/add_model}" style="margin-left:10px;padding-left:10px;text-align:right;color:black;"><b>Ajout modèle de véhicule</b></a>
								</li>
                                <li class="list-group-item justify-content-between">
                                    <form id="logoutForm" method="POST" th:action="@{/logout}">
                                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                    </form>
                                    <i class="fa fa-sign-out-alt fa-lg" aria-hidden="true"></i>
                                    <a onclick="document.forms['logoutForm'].submit()" style="margin-left:10px;padding-left:10px;text-align:right;color:black;"><b>Déconnexion</b></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2">
                </div>
            </div>
        </div>
    </div>
<div th:fragment="menu_stat">
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
                <div sec:authorize="hasAuthority('backoffice')">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4><b>Menu Statistiques</b></h4>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item justify-content-between">
                                    <i class="fas fa-percent fa-lg" aria-hidden="true"></i>
                                    <a href="#" th:href="@{/stats/retards}" style="margin-left:10px;padding-left:10px;text-align:right;color:black;"><b>Nombre et taux des retards</b></a>
                                </li>
                                <li class="list-group-item justify-content-between">
                                    <i class="fas fa-percent fa-lg" aria-hidden="true">
                                    </i>
                                    <a href="#" th:href="@{/stats/analyse}" style="margin-left:10px;padding-left:10px;text-align:right;color:black;"><b>Analyse statistique des retards</b></a>
                                </li>
                                <li class="list-group-item justify-content-between">
                                    <i class="fa fa-reply fa-lg" aria-hidden="true">
                                    </i>
                                    <a href="#" th:href="@{/}" style="margin-left:10px;padding-left:10px;text-align:right;color:black;"><b>Retour</b></a>
                                </li>
                               <!-- <li  class="list-group-item justify-content-between">
                                    <i class="fas fa-percent fa-lg" aria-hidden="true"></i>
                                    <a href="#" th:href="@{/stats/txoccup}" style="margin-left:10px;padding-left:10px;text-align:right;color:black;"><b>Taux d'occupation du parc et impact des retards</b></a>
                                </li>
                                <li class="list-group-item justify-content-between">
                                    <i class="fas fa-percent fa-lg" aria-hidden="true"></i>
                                    <a href="#" th:href="@{/stats/couts}" style="margin-left:10px;padding-left:10px;text-align:right;color:black;"><b>Coût estimé des retards et données aberrantes</b></a>
                                </li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
            </div>
        </div>
    </div>
</div>