<!DOCTYPE html>
<html>
<!--/*/ <th:block th:include="fragments/header :: includes"></th:block> /*/-->
<body>
<br/>
<!--/*/ <th:block th:include="fragments/header :: menu"></th:block> /*/-->
<div class="container">
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4><b>
                        Gérer les profils clients
                    </b></h4>
                </div>
                <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                                <form method="post" class="form-signin" th:action="@{/admin/accounts}">
                                    <td><input class="form-control" type="text" name="lastnameFilter"  placeholder="NOM..."/></td>
                                    <td><input class="form-control" type="text" name="firstnameFilter" placeholder="PRENOM..."/></td>
                                    <td><input class="form-control" type="text" name="phoneNumberFilter" placeholder="TELEPHONE..."/></td>
                                    <td><input class="form-control" type="text" name="cityFilter" placeholder="VILLE..."/></td>
                                    <td><button type="submit" name="action" value="save" class="btn btn-primary">Filtrer</button></td>
                                </form>
                            </thead>
                            <th:block th:each="account : ${accounts}">
                                <tr>
                                    <td th:text="${account.lastname}">...</td>
                                    <td th:text="${account.firstname}">...</td>
                                    <td th:text="${account.phoneNumber}">...</td>
                                    <td th:text="${account.city}">...</td>
                                    <td><a th:href="${'/admin/account/' + account.getId()}"><span class="glyphicon glyphicon-edit"></span></a></td>
                                </tr>
                            </th:block>
                        </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-2">
    </div>
</div>

<!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/-->
</body>
</html>