<!DOCTYPE html>
<html>
<!--/*/ <th:block th:include="fragments/header :: includes"></th:block> /*/-->
<body>
<br/>
<!--/*/ <th:block th:include="fragments/header :: menu"></th:block> /*/-->
<div class="container">
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4><b>
                        Générer l'activité client
                    </b></h4>
                </div>
                <form method="get" class="form-signin" th:action="@{/getActivity}">
                    <label><b>Date : </b></label>
                    <input type="date" name="date"/>
                    <button type="submit" name="action" class="btn btn-primary">Submit</button>
                </form>
                <div th:if="${not #lists.isEmpty(listBill)}">
                    <div class="panel-body">
                        <table class="table table-striped">
                            <tr>
                                <th><b>ID</b></th>
                                <th><b>total price</b></th>
                                <th><b>bill number</b></th>
                                <th><b>Account</b></th>
                                <th><b>Détails</b></th>
                            </tr>
                            <tr th:each="bill : ${listBill}">
                                <td th:text="${bill.getIdBill()}"></td>
                                <td th:text="${bill.getTotalPrice()}"></td>
                                <td th:text="${bill.getBillNumber()}"></td>
                                <td th:text="${bill.getAccount().getId()}"></td>
                                <td><a th:href="${'/bill/' + bill.getIdBill()}"><span class="glyphicon glyphicon-edit"></span></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-2">
    </div>
</div>

<!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/-->
</body>
</html>