<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*/ <th:block th:include="fragments/header :: includes"></th:block> /*/-->
<body>
<br/>
<!--/*/ <th:block th:include="fragments/header :: menu"></th:block> /*/-->
 <div class="container">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
                <div class="panel panel-info">


					 <div class="panel-heading">
						 <h1>Ajouter un véhicule</h1>
					 </div>
			    <div class="panel-body">
  					 <form  th:action="@{/add}" th:object="${car}" method="post">
  					 	<div class="form-group">
    							<p>Marque*: 
    							<select class="brand form-control" name="brand">
    							 	<option value="">---</option>
         	   				 	<option th:each="brand : ${brandName}" th:value="${brand}" th:text="${brand}"/>
        						</select>
    							</p>
    						</div>
    						<div class="form-group">
        						<p class="pmodel" >Modèle*: 
        						<select class="model form-control" name="model">
         	   		 			<option value="">---</option>
        						</select>
      						</p>
      					</div>
      					<div class="form-group">
        						<p>Plaque d'immatriculation*: <input class="ln form-control" type="text" th:field="*{licence_number}" /></p>
        					</div>
        					<div class="form-group">
        						<p>Année de première mise en circulation*: <input class="year form-control" type="text" th:field="*{created_year}" /></p>
        					</div>
        					<div class="form-group">
        						<p><input class="submit btn btn-default" type="submit" value="Submit" /> <input type="reset"  class = "btn btn-default" value="Reset" /></p>
      						
      					</div>
      					<p class="needed"> * champs obligatoires </p>
        					<p class="licence_needed"> Veuillez renseigner une plaque d'immatriculation valide (Format : XX123YY) </p>
   					   
   					 </form>
 				</div>
                </div>
            </div>
            <div class="col-xs-3">
            </div>
        </div>
    </div>
<!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/-->  
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
<script type="text/javascript" th:inline="javascript">
$(document).ready(function(){
	
	$(".model").html('<option value="">---</option>');
	
	$(".brand").change(function(e){
		marque = this.value;
		if(marque != ""){
			var models = [[${allModels}]];
			var html="";
			for(var i in models){
				console.log(models[i]);
				if(models[i][1] == marque){
					html= html+ '<option value="'+models[i][0]+'">'+models[i][0]+'</option>';
				}
			}
			$(".model").html(html);
		}
	});
	

	$('.submit').click(function(e){
		var i =0;
		var a = 0;
		
		console.log("salut");
		if($(".brand").val() == ""){
			$(".brand").css("border","1px solid red");
			i++;
		}
		else{
			$(".brand").css("border","1px solid black");
		}
		
		if($(".model").val() == ""){
			$(".model").css("border","1px solid red");
			i++;
		}
		else{
			$(".model").css("border","1px solid black");
		}
		
		if($(".ln").val() == ""){
			$(".ln").css("border","1px solid red");
			i++;
		}
		else{
			$(".ln").css("border","1px solid black");
		}
		
		if($(".year").val() == "" || $(".year").val() == "0" ){
			$(".year").css("border","1px solid red");
			i++;
		}
		else{
			$(".year").css("border","1px solid black");
		}
		
		if($(".hour").val() == "" || $(".hour").val() == "0" ){
			$(".hour").css("border","1px solid red");
			i++;
		}
		else{
			$(".hour").css("border","1px solid black");
		}
		
		if(/^[A-Z]{2}[0-9]{3}[A-Z]{2}$/.test($(".ln").val()) == false){
			$(".ln").css("border","1px solid red");
			a++;
		}
		else{
			$(".ln").css("border","1px solid black");
		}
		console.log(a);
		console.log($(".ln").val());
		if(i!=0){
			$('.needed').css("display","block");
			e.preventDefault();
		}
		else{
			$('.needed').css("display","none");
		}
		if(a!=0){
			$('.licence_needed').css("display","block");
			e.preventDefault();
		}
		else{
			$('.licence_needed').css("display","none");
		}
	});
});
	
</script>
</html>

<style>

.needed, .licence_needed{
	font-size : 10px;
	color: red;
	display: none;
}
</style>