<!DOCTYPE html>
<html>
<!--/*/ <th:block th:include="fragments/header :: includes"></th:block> /*/-->
<body>
<br/>
<!--/*/ <th:block th:include="fragments/header :: menu"></th:block> /*/-->
<div class="container">
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4><b>
                        Détail d'une facture
                    </b></h4>
                </div>
                <div th:if="${not #lists.isEmpty(bill.getlHistoric())}">
                    <div class="panel-body">
                        <table class="table table-striped">
                            <tr>
                                <th><b>ID</b></th>
                                <th><b>previsionStartTimestamp</b></th>
                                <th><b>previsionEndTimestamp</b></th>
                                <th><b>state</b></th>
                                <th><b>realStartTimestamp</b></th>
                                <th><b>realEndTimestamp</b></th>
                                <th><b>penalty</b></th>
                                <th><b>startPlace</b></th>
                                <th><b>endPlace</b></th>
                                <th><b>car</b></th>
                                <th><b>account</b></th>
                            </tr>
                            <tr th:each="historic : ${bill.getlHistoric()}">
                                <td th:text="${historic.getIdHistoric()}"></td>
                                <td th:text="${historic.getPrevisionStartTimestamp()}"></td>
                                <td th:text="${historic.getPrevisionEndTimestamp()}"></td>
                                <td th:text="${historic.getState()}"></td>
                                <td th:text="${historic.getRealStartTimestamp()}"></td>
                                <td th:text="${historic.getRealEndTimestamp()}"></td>
                                <td th:text="${'in progress'}"></td>
                                <td th:text="${'in progress'}"></td>
                                <td th:text="${'in progress'}"></td>
                                <td th:text="${historic.getCar().getId_car()}"></td>
                                <td th:text="${historic.getAccount().getId()}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-2">
    </div>
</div>

<!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/-->
</body>
</html>