<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*/ <th:block th:include="fragments/header :: includes"></th:block> /*/-->
<body>
<!--/*/ <th:block th:include="fragments/header :: menu"></th:block> /*/-->
<div class="container">
    <div class="row">
        <div class="col-xs-3">
        </div>
        <div class="col-xs-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4><b>Update hour price on car model</b></h4>
                </div>
                <div class="panel-body">
                    <form th:object="${carModel}" th:action="@{/referentielTarifCM}" method="post">

                        <div class="alert alert-success" th:text="${message}" th:if="${message != null}"></div>
                        <div class="alert alert-danger" th:text="${error}" th:if="${error != null}"></div>

                        <input type="hidden" th:field="*{id_car_model}"/>
                        <div class="form-group ${error != null ? 'has-error' : ''}">

                            <label><b>Id : </b></label>
                            <div>
                                <input readonly="readonly" class="form-control" type="text" th:field="*{id_car_model}"/>
                            </div>
                            <label><b>Model : </b></label>
                            <div>
                                <input readonly="readonly" class="form-control" type="text" th:field="*{model}"/>
                            </div>
                            <label><b>Brand : </b></label>
                            <div>
                                <input readonly="readonly" class="form-control" type="text" th:field="*{brand}"/>
                            </div>
                            <label><b>Gas consumption : </b></label>
                            <div>
                                <input readonly="readonly" class="form-control" type="text" th:field="*{gas_consumption}"/>
                            </div>
                            <label><b>Hour price : </b></label>
                            <div>
                                <input class="form-control" type="text" th:field="*{hour_price}"/>
                            </div>
                            <label><b>Picture : </b></label>
                            <div>
                                <input readonly="readonly" class="form-control" type="text" th:field="*{picture}"/>
                            </div>
                            <label><b>Type : </b></label>
                            <div>
                                <input readonly="readonly" class="form-control" type="text" th:field="*{type}"/>
                            </div>

                            <label><b>Capacity : </b></label>
                            <div>
                                <input readonly="readonly" class="form-control" type="text" th:field="*{capacity}"/>
                            </div>
                        </div>
                        <div class="offset-sm-2 col-sm-10">
                            <div class="form-group">
                                <button type="submit" name="action" value="save" class="btn btn-primary">Save</button>
                                <a th:href="@{/referentielTarifCM}" class="btn btn-danger">Back</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/-->
</body>
</html>
