<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*/ <th:block th:include="fragments/header :: includes"></th:block> /*/-->

<br/>
<!--/*/ <th:block th:include="fragments/header :: menu"></th:block> /*/-->
<body>
 <div class="container">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
                <div class="panel panel-info">
<div class="panel-heading">
<h1>Result</h1>
</div>
<div class="panel-body">
<div th:with="result = ${already}">
	<div th:if="${result}">
  		 <div style="color:red;font-weight:bold;">Le véhicule n'a pas été inséré car il est déjà présent dans la base de données.</div>
  	</div>
</div>
    <table class="table table-hover">
          <thead>
          <tr>
             <th><b>ID</b></th>
             <th><b>Marque</b></th>
             <th><b>Modèle</b></th>
             <th><b>Type</b></th>
             <th><b>Capacité</b></th>
             <th><b>Immatriculation</b></th>
             <th><b>Première mise en circulation</b></th>
             <th><b>Energie</b></th>
             <th><b>Prix/heure</b></th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="car : ${allCars}">
             <td th:text="${car.getId_car()}"></td>
             <td th:text="${car.getCar_model().getBrand()}"></td>
             <td th:text="${car.getCar_model().getModel()}"></td>
             <td th:text="${car.getCar_model().getType()}"></td>
             <td th:text="${car.getCar_model().getCapacity()}"></td>
             <td th:text="${car.getLicence_number()}"></td>
             <td th:text="${car.getCreated_year()}"></td>
             <td th:text="${car.getCar_model().getGas_consumption()}"></td>
             <td th:text="${car.getCar_model().getHour_price()}"></td>
          </tr>
          </tbody>
    </table>
    <a href="/addcar">Ajouter un autre véhicule</a>
 </div>
                </div>
            </div>
            <div class="col-xs-3">
            </div>
        </div>
    </div>
 </body>
<!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/-->  

</html>