<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*/ <th:block th:include="fragments/header :: includes"></th:block> /*/-->

<br/>
<!--/*/ <th:block th:include="fragments/header :: menu"></th:block> /*/-->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
<body>
 <div class="container">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
                <div class="panel panel-info">
<div class="panel-heading">
<h1>Courses en cours</h1>
</div>
<div class="panel-body">
    <table class="table table-hover">
          <thead>
          <tr>
             <th><b>ID</b></th>
             <th><b>Heure prévue début</b></th>
             <th><b>Heure réelle début</b></th>
             <th><b>Heure prévue fin</b></th>
             <th><b>Heure réelle fin</b></th>
             <th><b>Destination</b></th>
             <th><b>Abonné</b></th>
             <th><b>Info abonné</b></th>
          </tr>
          </thead>
          <tbody >
          
          <tr th:each="course : ${courses}" class="each">
          
          	<div th:if="${course.getLate()} == true">
          	<td style="background-color:#FF5E4D;" th:text="${course.getId()}"></td>
             <td style="background-color:#FF5E4D;" th:text="${course.getId_resa().getStartTimestamp()}"></td>
             <td style="background-color:#FF5E4D;" th:text="${course.getRealStartTimestamp()}"></td>
             <td style="background-color:#FF5E4D;" th:text="${course.getId_resa().getPrevisionEndTimestamp()}"></td>
             <td style="background-color:#FF5E4D;" th:text="${course.getRealEndTimestamp()}"></td>
             <td style="background-color:#FF5E4D;" th:text="${course.getId_resa().getEndPlace().getParking().getAddress()}"></td>
             <td style="background-color:#FF5E4D;" th:text="${course.getId_resa().getAccount().getUsername()}"></td>
             <td style="background-color:#FF5E4D;"><button type="button" class="btn btn-primary mo" data-toggle="modal" data-target="#modal"><i class="fa fa-user fa-lg"></i></button> </td>
             <div class="modal fade om" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  				<div class="modal-dialog" role="document">
   					 <div class="modal-content">
      			<div class="modal-header">
        				 <h5 class="modal-title" id="exampleModalLabel">Information abonné</h5>
        				 <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
      			</div>
      			<div class="modal-body">
        				 <span> Nom : </span><p th:text="${course.getId_resa().getAccount().getLastname()}"> </p>
        				 <span> Prénom : </span><p th:text="${course.getId_resa().getAccount().getFirstname()}"> </p>
        				 <span> Tél : </span><p th:text="${course.getId_resa().getAccount().getPhoneNumber()}"> </p>
        				 <span> Mail : </span><p th:text="${course.getId_resa().getAccount().getEmail()}">  </p>
        				 <span> Adresse : </span><p th:text="${course.getId_resa().getAccount().getAddress()}">  </p>
      			</div>
      			<div class="modal-footer">
        				 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      			</div>
    				</div>
  			</div>
			</div>
             </div>
          	<div th:if="${course.getLate()} == false">
             <td th:text="${course.getId()}"></td>
             <td th:text="${course.getId_resa().getStartTimestamp()}"></td>
             <td th:text="${course.getRealStartTimestamp()}"></td>
             <td th:text="${course.getId_resa().getPrevisionEndTimestamp()}"></td>
             <td th:text="${course.getRealEndTimestamp()}"></td>
             <td th:text="${course.getId_resa().getEndPlace().getParking().getAddress()}"></td>
             <td th:text="${course.getId_resa().getAccount().getUsername()}"></td>
             <td><button type="button" class="btn btn-primary mo" data-toggle="modal" data-target="#modal1"><i class="fa fa-user fa-lg"></i></button> </td>
             <div class="modal fade om" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  				<div class="modal-dialog" role="document">
   					 <div class="modal-content">
      			<div class="modal-header">
        				 <h5 class="modal-title" id="exampleModalLabel">Informations abonné</h5>
        				 <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
      			</div>
      			<div class="modal-body">
      				 <span> Nom : </span><p th:text="${course.getId_resa().getAccount().getLastname()}"> </p>
        				 <span> Prénom : </span><p th:text="${course.getId_resa().getAccount().getFirstname()}"> </p>
        				 <span> Tél : </span><p th:text="${course.getId_resa().getAccount().getPhoneNumber()}"> </p>
        				 <span> Mail : </span><p th:text="${course.getId_resa().getAccount().getEmail()}">  </p>
        				 <span> Adresse : </span><p th:text="${course.getId_resa().getAccount().getAddress()}">  </p>
      			</div>
      			<div class="modal-footer">
        				 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      			</div>
    				</div>
  			</div>
			</div>
             </div>
          </tr>
          </tbody>
    </table>
   
 </div>
                </div>
            </div>
            <div class="col-xs-3">
            </div>
        </div>
    </div>
    
    
 
 </body>
<!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/-->  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
<script type="text/javascript" th:inline="javascript">
$(document).ready(function(){
          	var v=0;
          	$('.mo').each(function(e){
          		$(this).attr('data-target','#modal'+v);
          		v++;
          	});
          
          	var v=0;
          	$('.om').each(function(e){
          		$(this).attr('id','modal'+v);
          		v++;
          	});
});          
</script>
</html>