<!DOCTYPE html>
<html>
<!--/*/ <th:block th:include="fragments/header :: includes"></th:block> /*/-->
<body>
<br/>
<div class="container">
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h4>
                        <b>
                            Java Web - HTTP <span th:text="${method}"></span> Error <span th:text="${status}"></span>
                        </b>
                    </h4>
                </div>
                <div class="panel-body">
                    An unexpected Java Web Error occurred while processing the page. Try refresh or closing/reopening your navigator. If it's still not working, please contact the administrator hugo.stephan@etu.u-pec.fr.
                    <br/><br/>

                    <b>HTTP <span th:text="${method}"></span> - Error <span th:text="${status}"></span></b>

                    <br/><br/>
                    <!-- DEBUG PURPOSE -->
                    <u><b>Stack trace :</b></u>
                    <p class="pre-scrollable" th:text="${stack}"></p>
                    <br/>
                    <a th:href="@{/}" class="btn btn-danger">Back</a>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
        </div>
    </div>
</div>

<!--<body th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
<h1 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h1>
<p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
<a href="index.html" th:href="@{/index.html}">Back to Home Page</a>-->
</body>
</html>