<!DOCTYPE html>
<html>
<!--/*/ <th:block th:include="fragments/header :: includes"></th:block> /*/-->
<body>
<br/>
<div class="container">
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4><b>Connection</b></h4>
                </div>
                <div class="panel-body">
                    <form th:action="@{/login}" method="post" class="form-signin">

                        <div class="alert alert-success" th:text="${message}" th:if="${message != null}"></div>

                        <div class="form-group" th:classappend="${error != null ? 'has-error' : ''}">
                            <label><b>Login : </b></label>
                            <div>
                                <input class="form-control" type="text" name="username" placeholder="Login..."/>
                            </div><br/>
                            <label><b>Password : </b></label>
                            <div>
                                <input class="form-control" type="password" name="password" placeholder="Password..."/>
                            </div>
                        </div>

                        <div class="alert alert-danger" th:text="${error}" th:if="${error != null}"></div>

                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                        <div class="offset-sm-2 col-sm-10">
                            <div class="form-group">
                                <button type="submit" name="action" value="save" class="btn btn-primary">Connexion <i style="margin-left:3px;" class="fa fa-sign-in-alt fa-lg" aria-hidden="true"></i> </button>
                            </div>
                        </div>
                    </form>
                    <br/><br/><br/><br/>
                    <label><b>Not registered yet ? <a th:href="${'/registration'}"> Create an account now.</a></b></label><br/>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/-->
</body>
</html>