<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*/ <th:block th:include="fragments/header :: includes"></th:block> /*/-->

<br/>
<!--/*/ <th:block th:include="fragments/header :: menu"></th:block> /*/-->
<body>
 <div class="container">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
                <div class="panel panel-info">
<div class="panel-heading">
	<h1>Result</h1>
</div>
<div class="panel-body">
    <table class="table table-hover">
    		  <thead>
          <tr>
             <th><b>ID</b></th>
             <th ><b>Modèle</b></th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="model : ${AllModels}">
             <td th:text="${model.getId_car_model()}"></td>
             <td th:text="${model.getModel()}"></td>
          </tr>
          </tbody>
    </table>
    <a href="/add_model">Ajouter un autre modèle</a>
     </div>
                </div>
            </div>
            <div class="col-xs-3">
            </div>
        </div>
    </div>
<!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/--> 
</body>
</html>