<!DOCTYPE html>
<html>
<!--/*/ <th:block th:include="fragments/header :: includes"></th:block> /*/-->
<body>
<br/>
<!--/*/ <th:block th:include="fragments/header :: menu"></th:block> /*/-->
<div class="container">
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4><b>My Account</b></h4>
                </div>
                <div class="panel-body">
                    <i>Here you can view and edit your account information.<br/>
                    To do so, just edit the below form and submit your changes if you wish, else you can go back to the homepage.<br/><br/>
                    </i>
                    <hr/>
                    <br/>
                    <form th:object="${userForm}"  method="post" class="form-signin" th:action="@{/myaccount}">

                        <div class="alert alert-success" th:text="${message}" th:if="${message != null}"></div>
                        <div class="alert alert-danger" th:text="${error}" th:if="${error != null}"></div>

                        <div class="form-group ${error != null ? 'has-error' : ''}">
                            <input type="hidden" name="id" th:field="*{id}" th:value="*{id}"/>
                            <input type="hidden" name="password" th:field="*{password}" th:value="*{password}"/>
                            <input type="hidden" name="passwordConfirm" th:field="*{passwordConfirm}" th:value="*{passwordConfirm}"/>
                            <input type="hidden" name="registrationDate" th:field="*{registrationDate}" th:value="*{registrationDate}"/>
                            <input type="hidden" name="role" th:field="*{role}" th:value="*{role}"/>


                            <input type="hidden" name="id" th:field="*{id}" th:value="*{id}"/>
                            <label><b>Login : </b></label>
                            <div>
                                <input class="form-control" type="text" name="username" th:field="*{username}" th:value="*{username}"/>
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                            </div>
                            <br/>
                            <hr/>
                            <br/>
                            <label><b>Firstname : </b></label>
                            <div>
                                <input class="form-control" type="text" name="firstname" th:field="*{firstname}" th:value="*{firstname}"/>
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></div>
                            </div>
                            <br/>
                            <label><b>Lastname : </b></label>
                            <div>
                                <input class="form-control" type="text" name="lastname" th:field="*{lastname}" th:value="*{lastname}"/>
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></div>
                            </div>
                            <br/>
                            <label><b>Birthdate : </b></label>
                            <div>
                                <input class="form-control" type="text" name="birthDate" th:field="*{birthDate}" th:value="*{birthDate}"  />
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></div>
                            </div>
                            <br/>
                            <label><b>Phone Number : </b></label>
                            <div>
                                <input class="form-control" type="text" name="phoneNumber" th:field="*{phoneNumber}" th:value="*{phoneNumber}"/>
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>
                            </div>
                            <br/>
                            <label><b>Email : </b></label>
                            <div>
                                <input class="form-control" type="text" name="email" th:field="*{email}" th:value="*{email}"/>
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                            </div>
                            <br/>
                            <hr/>
                            <br/>
                            <label><b>City : </b></label>
                            <div>
                                <input class="form-control" type="text" name="city" th:field="*{city}" th:value="*{city}" />
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div>
                            </div>
                            <br/>
                            <label><b>Address : </b></label>
                            <div>
                                <input class="form-control" type="text" name="address" th:field="*{address}" th:value="*{address}"/>
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
                            </div>
                            <br/>
                            <label><b>Postal Code : </b></label>
                            <div>
                                <input class="form-control" type="text" name="postalCode" th:field="*{postalCode}" th:value="*{postalCode}" />
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}"></div>
                            </div>
                        </div>
                        <div class="offset-sm-2 col-sm-10">
                            <div class="form-group">
                                <button type="submit" name="action" value="save" class="btn btn-primary">Submit</button>
                                <a th:href="@{/index}" class="btn btn-danger">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-2">
    </div>
</div>

<!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/-->
</body>
</html>