<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*/ <th:block th:include="fragments/header :: includes"></th:block> /*/-->
<body>
<!--/*/ <th:block th:include="fragments/header :: menu"></th:block> /*/-->
<div th:if="${not #lists.isEmpty(parkings)}">
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4><b>Détails Parking</b></h4>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div>
                                <label><b>ID : </b></label>
                                <div>
                                    <p th:text="${parking.id}">Id</p></div>
                            </div>
                            <div>
                                <label><b>Name : </b></label>
                                <div>
                                    <p th:text="${parking.name}">Name</p>
                                </div>
                            </div>
                            <div>
                                <label><b>Capacity : </b></label>
                                <div>
                                    <p th:text="${parking.capacity}">Capacity</p>
                                </div>
                            </div>
                            <div>
                                <label><b>Address : </b></label>
                                <div>
                                    <p th:text="${parking.address}">Address</p>
                                </div>
                            </div>
                            <div>
                                <label><b>Longitude : </b></label>
                                <div>
                                    <p th:text="${parking.longitude}">Longitude</p>
                                </div>
                            </div>
                            <div>
                                <label><b>Latitude : </b></label>
                                <div>
                                    <p th:text="${parking.latitude}">Latitude</p>
                                </div>
                            </div>
                            <div th:if="${not #lists.isEmpty(parking.placeCollection)}">
                            <table class="table table-striped">
                                <tr>
                                    <th><b>ID</b></th>
                                    <th ><b>Name</b></th>
                                    <th ><b>Width</b></th>
                                    <th ><b>Length</b></th>
                                </tr>

                                <tr th:each="place : ${parking.placeCollection}">
                                    <td th:text="${place.getId()}">Id</td>
                                    <td th:text="${place.getName()}">Name</td>
                                    <td th:text="${place.getWidth()}">Width</td>
                                    <td th:text="${place.getLength()}">Length</td>
                                </tr>
                            </table>
                            </div>
                            <div>
                                <label><b>Creer une place de parking : </b></label>
                                <div>
                                    <a th:href="${'/parking/'+${parking.id}+'/addplace/'}"><span class="glyphicon glyphicon-edit" style="margin-left:20%;"></span></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/-->
</body>
</html>
