<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*/ <th:block th:include="fragments/header :: includes"></th:block> /*/-->
<body>
<!--/*/ <th:block th:include="fragments/header :: menu"></th:block> /*/-->
<div th:if="${not #lists.isEmpty(parkings)}">
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4><b>Liste des parkings :</b></h4>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <tr>
                                <th><b>ID</b></th>
                                <th ><b>Name</b></th>
                                <th ><b>Capacity</b></th>
                                <th ><b>Address</b></th>
                                <th ><b>Longitude</b></th>
                                <th ><b>Latitude</b></th>
                                <th><b>Places list</b></th>
                                <th><b>Edit</b></th>
                                <th><b>Delete</b></th>
                            </tr>
                            <tr th:each="parking : ${parkings}">
                                <td th:text="${parking.getId()}">Id</td>
                                <td th:text="${parking.getName()}">Name</td>
                                <td th:text="${parking.getCapacity()}">Capacity</td>
                                <td th:text="${parking.getAddress()}">Address</td>
                                <td th:text="${parking.getLongitude()}">Longitude</td>
                                <td th:text="${parking.getLatitude()}">Latitude</td>
                                <td><a th:href="${'/parking/' + parking.getId()}+'/places/'"><span class="glyphicon glyphicon-edit" style="margin-left:20%;"></span></a></td>
                                <td><a th:href="${'/parking/' + parking.getId()}"><span class="glyphicon glyphicon-edit" style="margin-left:20%;"></span></a></td>
                                <td><a th:href="${'/parking/delete/' + parking.getId()}"><span class="glyphicon glyphicon-trash" style="margin-left:20%;"></span></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
            </div>
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/-->
</body>
</html>
