<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*/ <th:block th:include="fragments/header :: includes"></th:block> /*/-->
<body>
<!--/*/ <th:block th:include="fragments/header :: menu"></th:block> /*/-->
<div class="container">
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4><b>Liste des places :</b></h4>
                </div>
                <div class="panel-body">


                    <div th:if="${not #lists.isEmpty(places)}">
                        <table class="table table-striped">
                            <tr>
                                <th><b>ID</b></th>
                                <th><b>Name</b></th>
                                <th><b>Width</b></th>
                                <th><b>Length</b></th>
                            </tr>

                            <tr th:each="place : ${places}">
                                <td th:text="${place.id}">Id</td>
                                <td th:text="${place.name}">Name</td>
                                <td th:text="${place.width}">Width</td>
                                <td th:text="${place.length}">Length</td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <label><b>Creer une place de parking : </b></label>
                        <div>
                            <a th:href="${'/parking/'+idparking+'/addplace/'}"><span
                                    class="glyphicon glyphicon-edit" style="margin-left:20%;"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/-->
</body>
</html>
