<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Projet web univers7</title>

    <!--/*/ <th:block th:include="fragments/header :: includes"></th:block> /*/-->
</head>
<body>

<!--/*/ <th:block th:include="fragments/header :: menu"></th:block> /*/-->
<div class="container">
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4><b>Filtre de recherche :</b></h4>
            </div>
            <div class="panel-body">

                <form method="post" class="form-signin" th:action="@{/searchReferentielTarifCM}">

                    <div class="alert alert-danger" th:text="${error}" th:if="${error != null}"></div>

                    <div class="form-group ${error != null ? 'has-error' : ''}">
                        <label><b>Brand : </b></label>
                        <div>
                            <select class="brand form-control" name="brand">
                                <option value="">---</option>
                                <option th:each="brand : ${brandName}" th:value="${brand}" th:text="${brand}"/>
                            </select>
                        </div>
                        <br/>

                        <label><b>Model : </b></label>
                        <div>
                            <select class="model form-control" name="model">
                                <option value="">---</option>
                            </select>
                        </div>
                        <br/>
                        <label><b>Gas Consumption : </b></label>
                        <div>
                            <select class="gas form-control" name="gas_consumption">
                                <option value="">---</option>
                                <option value="essence">Essence</option>
                                <option value="diesel">Diesel</option>
                            </select>
                        </div>
                        <br/>
                        <label><b>Hour price between: </b></label>
                        <div>
                            <input class="form-control" type="number" name="hourPriceBegin"/>
                        <p><b>And :</b></p>
                            <input class="form-control" type="number" name="hourPriceEnd"/>
                        </div>
                        <br/>

                        <div class="offset-sm-2 col-sm-10">
                            <div class="form-group">
                                <button type="submit" name="action" value="save" class="btn btn-primary">Recherche</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        </div>
            <div class="col-xs-3">
            </div>
    </div>


    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4><b>Référentiel tarif :</b></h4>
                </div>
                <div class="alert alert-success" th:text="${message}" th:if="${message != null}"></div>
                <a href="/referentielTarifTS" class="btn btn-default">Liste type secteur</a>

                <div th:if="${not #lists.isEmpty(listCarModel)}">
                    <div class="panel-body">
                        <table class="table table-striped">
                            <tr>
                                <th><b>ID</b></th>
                                <th><b>Model</b></th>
                                <th><b>Brand</b></th>
                                <th><b>Gas consumption</b></th>
                                <th><b>Hour price</b></th>
                                <th><b>Type</b></th>
                                <th><b>Capacity</b></th>
                                <th>Edit</th>
                            </tr>
                            <tr th:each="carModel : ${listCarModel}">
                                <td th:text="${carModel.getId_car_model()}"></td>
                                <td th:text="${carModel.getModel()}"></td>
                                <td th:text="${carModel.getBrand()}"></td>
                                <td th:text="${carModel.getGas_consumption()}"></td>
                                <td th:text="${carModel.getHour_price()}"></td>
                                <td th:text="${carModel.getType()}"></td>
                                <td th:text="${carModel.getCapacity()}"></td>
                                <td><a th:href="${'/carModelCreatePriceHour/'+ carModel.getId_car_model()}"><span class="glyphicon glyphicon-edit" style="margin-left:20%;"></span></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/-->
</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
<script type="text/javascript" th:inline="javascript">
    $(document).ready(function() {

            $(".model").html('<option value="">---</option>');

            $(".brand").change(function (e) {
                marque = this.value;
                if (marque != "") {
                    var models = [[${allModels}]];
                    var html = '<option value="">---</option>';
                    for (var i in models) {
                        console.log(models[i]);
                        if (models[i][1] == marque) {
                            html = html + '<option value="' + models[i][0] + '">' + models[i][0] + '</option>';
                        }
                    }
                    $(".model").html(html);
                }
            });
        });
    </script>


</html>