<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Projet web univers7</title>

    <!--/*/ <th:block th:include="fragments/header :: includes"></th:block> /*/-->
</head>
<body>

<!--/*/ <th:block th:include="fragments/header :: menu"></th:block> /*/-->
<div class="container">
    <div class="row">
        <div class="col-xs-3">
        </div>
        <div class="col-xs-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4><b>Référentiel tarif :</b></h4>
                </div>
                <div class="alert alert-success" th:text="${message}" th:if="${message != null}"></div>
                    <a href="/referentielTarifCM" class="btn btn-default">Liste modèle voiture</a>


                <div th:if="${not #lists.isEmpty(listTypeSector)}">
                    <div class="panel-body">
                        <table class="table table-striped">
                            <tr>
                                <th><b>ID</b></th>
                                <th><b>Color</b></th>
                                <th><b>Percent</b></th>
                                <th>Edit</th>
                            </tr>
                            <tr th:each="typeSector : ${listTypeSector}">
                                <td th:text="${typeSector.getId()}"></td>
                                <td th:text="${typeSector.getColor()}"></td>
                                <td th:text="${typeSector.getPercent()}"></td>
                                <td><a th:href="${'/typeSectorCreatePercent/' + typeSector.getId()}"><span class="glyphicon glyphicon-edit" style="margin-left:20%;"></span></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/-->
</body>
</html>