<!DOCTYPE html>
<html>
<!--/*/ <th:block th:include="fragments/header :: includes"></th:block> /*/-->
<body>
<br/>
<div class="container">
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4><b>Registration</b></h4>
                </div>
                <div class="panel-body">
                    <form th:object="${userForm}"  method="post" class="form-signin" th:action="@{/registration}">

                        <div class="alert alert-success" th:text="${message}" th:if="${message != null}"></div>
                        <div class="alert alert-danger" th:text="${error}" th:if="${error != null}"><b></b></div>

                        <div class="form-group ${error != null ? 'has-error' : ''}">
                            <label><b>Login : </b></label>
                            <div>
                                <input class="form-control" type="text" name="username" th:field="*{username}" placeholder="Login..."/><br/>
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                            </div>
                            <br/>
                            <label><b>Password : </b></label>
                            <div>
                                <input class="form-control" type="password" name="password" th:field="*{password}" placeholder="Password..."/><br/>
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                            </div>
                            <br/>
                            <label><b>Confirm Password : </b></label>
                            <div>
                                <input class="form-control" type="password" name="passwordConfirm" th:field="*{passwordConfirm}" placeholder="Password..."/><br/>
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></div>
                            </div>
                            <br/>
                            <hr/>
                            <br/>
                            <label><b>Firstname : </b></label>
                            <div>
                                <input class="form-control" type="text" name="firstname" th:field="*{firstname}" placeholder="Firstname..."/><br/>
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></div>
                            </div>
                            <br/>
                            <label><b>Lastname : </b></label>
                            <div>
                                <input class="form-control" type="text" name="lastname" th:field="*{lastname}" placeholder="Lastname..."/><br/>
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></div>
                            </div>
                            <br/>
                            <label><b>Birthdate : </b></label>
                            <div>
                                <input class="form-control" type="text" name="birthdate" th:field="*{birthDate}" placeholder="Birthdate..."/><br/>
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></div>
                            </div>
                            <br/>
                            <label><b>Phone Number : </b></label>
                            <div>
                                <input class="form-control" type="text" name="phoneNumber" th:field="*{phoneNumber}" placeholder="Phone number..."/><br/>
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>
                            </div>
                            <br/>
                            <label><b>Email : </b></label>
                            <div>
                                <input class="form-control" type="text" name="email" th:field="*{email}" placeholder="E-mail..."/><br/>
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                            </div>
                            <br/>
                            <hr/>
                            <br/>
                            <label><b>City : </b></label>
                            <div>
                                <input class="form-control" type="text" name="city" th:field="*{city}" placeholder="City..."/><br/>
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div>
                            </div>
                            <br/>
                            <label><b>Address : </b></label>
                            <div>
                                <input class="form-control" type="text" name="address" th:field="*{address}" placeholder="Address..."/><br/>
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
                            </div>
                            <br/>
                            <label><b>Postal Code : </b></label>
                            <div>
                                <input class="form-control" type="text" name="postalCode" th:field="*{postalCode}" placeholder="Postalcode..."/><br/>
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}"></div>
                            </div>
                        </div>

                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <div class="offset-sm-2 col-sm-10">
                            <div class="form-group">
                                <button type="submit" name="action" value="save" class="btn btn-primary">Submit</button>
                                <a th:href="@{/login}" class="btn btn-danger">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/-->
</body>
</html>