<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Projet web univers7</title>

    <!--/*/ <th:block th:include="fragments/header :: includes"></th:block> /*/-->
</head>
<body>

<!--/*/ <th:block th:include="fragments/header :: menu"></th:block> /*/-->
<div class="container">
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4><b>Filtre de recherche :</b></h4>
                </div>
                <div class="panel-body">

                    <form method="post" class="form-signin" th:action="@{/searchplace}">

                        <div class="form-group ${error != null ? 'has-error' : ''}">
                            <label><b>Parking : </b></label>
                            <div>
                                <select class="parking form-control" name="parking">
                                    <option value="">---</option>

                                    <option th:each="parking : ${listParking}" th:value="${parking.name}" th:text="${parking.name}"/>
                                </select>
                            </div>
                            <br/>

                            <label><b>Place : </b></label>
                            <div>
                                <input class="form-control" name="placename" type="text"/>
                            </div>
                            <br/>
                            <label><b>Width : </b></label>
                            <div>
                                <input class="form-control" name="width" type="text"/>
                            </div>
                            <label><b>Length : </b></label>
                            <div>
                                <input class="form-control" name="length" type="text"/>
                            </div>
                            <br/>

                            <div class="offset-sm-2 col-sm-10">
                                <div class="form-group">
                                    <button type="submit" name="action" value="save" class="btn btn-primary">Recherche</button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4><b>Référentiel places :</b></h4>
                </div>

                <div th:if="${not #lists.isEmpty(listPlaces)}">
                    <div class="panel-body">
                        <table class="table table-striped">
                            <tr>
                                <th><b>Name</b></th>
                                <th><b>Width</b></th>
                                <th><b>Length</b></th>
                                <th><b>Parking</b></th>
                            </tr>
                            <tr th:each="place : ${listPlaces}">
                                <td th:text="${place.getName()}"></td>
                                <td th:text="${place.getWidth()}"></td>
                                <td th:text="${place.getLength()}"></td>
                                <td th:text="${place.getParking().getName()}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/-->
</body>
</html>

