<!DOCTYPE html>
<html>
<!--/*/ <th:block th:include="fragments/header :: includes"></th:block> /*/-->
<body>
<br/>
<!--/*/ <th:block th:include="fragments/header :: menu"></th:block> /*/-->
<div class="container">
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4><b>
                        Recherche de véchicule(s)
                    </b></h4>
                </div>
                <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                                
                                  <td><select class="ln form-control" name="ln">
    							 				<option value="">---</option>
         	   				 				<option th:each="ln : ${lns}" th:value="${ln}" th:text="${ln}"/>
        								   </select>
        							   </td>
                                    
                                      <td><select class="brand form-control" name="brand">
    							 				<option value="">---</option>
         	   				 				<option th:each="brand : ${brandName}" th:value="${brand}" th:text="${brand}"/>
        									</select>
        							   </td>
        							   
        							   <td>
                                   	   <select class="model form-control" name="model">
    							 				<option value="">---</option>
         	   				 				<option th:each="model : ${models}" th:value="${model}" th:text="${model}"/>
        								   </select>
                                    </td>
                                    <td><select class="type form-control" name="type">
    							 				<option value="">---</option>
         	   				 				<option th:each="type : ${types}" th:value="${type}" th:text="${type}"/>
        									</select>
        							   </td>
                                    <td><select class="capacity form-control" name="capacity">
    							 				<option value="">---</option>
         	   				 				<option th:each="capacity : ${capacities}" th:value="${capacity}" th:text="${capacity}"/>
        									</select>
        							   </td>
        							    <td><select class="year form-control" name="year">
    							 				<option value="">---</option>
         	   				 				<option th:each="year : ${years}" th:value="${year}" th:text="${year}"/>
        						   		   </select>
        						   	   </td>
                                    <td><select class="gs form-control" name="gs">
    							 				<option value="">---</option>
         	   				 				<option th:each="gs : ${gss}" th:value="${gs}" th:text="${gs}"/>
        								   </select>
        							   </td>
                                    
                                   
                                    <td></td>
                                    <td><button  class="submit btn btn-primary">Tous</button></td>
                               
                            </thead>
                            <div class="block">
                            <th:block th:each="car : ${allCars}">
                                <tr class="trCar">
                                    <td th:text="${car.getLicence_number()}">...</td>
                                    <td th:text="${car.getCar_model().getBrand()}">...</td>
                                    <td th:text="${car.getCar_model().getModel()}">...</td>
                                    <td th:text="${car.getCar_model().getType()}">...</td>
                                    <td th:text="${car.getCar_model().getCapacity()}">...</td>
                                    <td th:text="${car.getCreated_year()}">...</td>
                                    <td th:text="${car.getCar_model().getGas_consumption()}"></td>
            						   <td th:text="${car.getCar_model().getHour_price()}"></td>
            						   <td></td>
                                </tr>
                            </th:block>
                            </div>
                        </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-2">
    </div>
</div>

<!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/-->
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
<script type="text/javascript" th:inline="javascript">
$(document).ready(function(){
	var all= new Array();
	var i = 1;
	var incrTamp = 1;
	var tab = new Array();
	
	$('.table .trCar').each(function(){

		all[i]= new Array({"ln":$(this).children().eq(0).text()},
			{"brand":$(this).children().eq(1).text()},
			{"model":$(this).children().eq(2).text()},
			{"type":$(this).children().eq(3).text()},
			{"capacity":$(this).children().eq(4).text()},
			{"year":$(this).children().eq(5).text()},
			{"gs":$(this).children().eq(6).text()},
			{"price":$(this).children().eq(7).text()}
		);
			
		i++;
	});
	tab = all;
	
	//Licence Number
	
	$(".ln").change(function(e){
		$(this).css("border","2px solid #2ad62a");
		$(".model").css("border","none");
		$(".brand").css("border","none");
		$(".capacity").css("border","none");
		$(".year").css("border","none");
		$(".type").css("border","none");
		$(".gs").css("border","none");
		
		var ln = $(this).val();
		var tamp = new Array();
		for(var k in all){
			for(var c in k){
				if(all[k][0]['ln'] == ln){
					console.log(all[k][c]['ln']+" = "+ln);
					tamp[incrTamp]= new Array({'ln': all[k][0]['ln']},
					{'brand': all[k][1]['brand']},
					{'model': all[k][2]['model']},
					{'type': all[k][3]['type']},
					{'capacity': all[k][4]['capacity']},
					{'year': all[k][5]['year']},
					{'gs': all[k][6]['gs']},
					{'price': all[k][7]['price']}
					);
					incrTamp++;
				}
			}
		}
		$('tbody').html('');
		for(var k in tamp){
		
				$('tbody').append('<tr class="trCar"> <td>'+tamp[k][0]['ln']+'</td> <td>'+tamp[k][1]['brand']+'</td><td >'+tamp[k][2]['model']+'</td><td>'+tamp[k][3]['type']+'</td>  <td>'+tamp[k][4]['capacity']+'</td>  <td>'+tamp[k][5]['year']+'</td> <td>'+tamp[k][6]['gs']+'</td><td>'+tamp[k][7]['price']+'</td><td></td></tr>');
			
		}
	console.log(tamp);	
	});
	
	//Brand
	
	$(".brand").change(function(e){
		var brand = $(this).val();
		var tamp = new Array();
		$(this).css("border","2px solid #2ad62a");
		$(".model").css("border","none");
		$(".capacity").css("border","none");
		$(".ln").css("border","none");
		$(".year").css("border","none");
		$(".type").css("border","none");
		$(".gs").css("border","none");
		
		for(var k in all){
			for(var c in k){
				if(all[k][1]['brand'] == brand){
					console.log(all[k][1]['brand']+" = "+brand);
					tamp[incrTamp]= new Array({'ln': all[k][0]['ln']},
					{'brand': all[k][1]['brand']},
					{'model': all[k][2]['model']},
					{'type': all[k][3]['type']},
					{'capacity': all[k][4]['capacity']},
					{'year': all[k][5]['year']},
					{'gs': all[k][6]['gs']},
					{'price': all[k][7]['price']}
					);
					incrTamp++;
				}
			}
		}
		$('tbody').html('');
		for(var k in tamp){
			
				$('tbody').append('<tr class="trCar"> <td>'+tamp[k][0]['ln']+'</td> <td>'+tamp[k][1]['brand']+'</td><td >'+tamp[k][2]['model']+'</td><td>'+tamp[k][3]['type']+'</td>  <td>'+tamp[k][4]['capacity']+'</td>  <td>'+tamp[k][5]['year']+'</td> <td>'+tamp[k][6]['gs']+'</td><td>'+tamp[k][7]['price']+'</td><td></td></tr>');
			
		}
	console.log(tamp);	
	});
	
	//Model
	
	$(".model").change(function(e){
		var model = $(this).val();
		var tamp = new Array();
		$(this).css("border","2px solid #2ad62a");
		$(".capacity").css("border","none");
		$(".brand").css("border","none");
		$(".ln").css("border","none");
		$(".year").css("border","none");
		$(".type").css("border","none");
		$(".gs").css("border","none");
		
		for(var k in all){
			for(var c in k){
				if(all[k][2]['model'] == model){
					console.log(all[k][c]['model']+" = "+model);
					tamp[incrTamp]= new Array({'ln': all[k][0]['ln']},
					{'brand': all[k][1]['brand']},
					{'model': all[k][2]['model']},
					{'type': all[k][3]['type']},
					{'capacity': all[k][4]['capacity']},
					{'year': all[k][5]['year']},
					{'gs': all[k][6]['gs']},
					{'price': all[k][7]['price']}
					);
					incrTamp++;
				}
			}
		}
		$('tbody').html('');
		for(var k in tamp){
		
				$('tbody').append('<tr class="trCar"> <td>'+tamp[k][0]['ln']+'</td> <td>'+tamp[k][1]['brand']+'</td><td >'+tamp[k][2]['model']+'</td><td>'+tamp[k][3]['type']+'</td>  <td>'+tamp[k][4]['capacity']+'</td>  <td>'+tamp[k][5]['year']+'</td> <td>'+tamp[k][6]['gs']+'</td><td>'+tamp[k][7]['price']+'</td><td></td></tr>');
			
		}
	
	});
	
	//Type
	
	$(".type").change(function(e){
		var type = $(this).val();
		var tamp = new Array();
		$(this).css("border","2px solid #2ad62a");
		$(".model").css("border","none");
		$(".brand").css("border","none");
		$(".ln").css("border","none");
		$(".year").css("border","none");
		$(".capacity").css("border","none");
		$(".gs").css("border","none");
		
		for(var k in all){
			for(var c in k){
				if(all[k][3]['type'] == type){
					
					tamp[incrTamp]= new Array({'ln': all[k][0]['ln']},
					{'brand': all[k][1]['brand']},
					{'model': all[k][2]['model']},
					{'type': all[k][3]['type']},
					{'capacity': all[k][4]['capacity']},
					{'year': all[k][5]['year']},
					{'gs': all[k][6]['gs']},
					{'price': all[k][7]['price']}
					);
					incrTamp++;
				}
			}
		}
		$('tbody').html('');
		for(var k in tamp){
			
				$('tbody').append('<tr class="trCar"> <td>'+tamp[k][0]['ln']+'</td> <td>'+tamp[k][1]['brand']+'</td><td >'+tamp[k][2]['model']+'</td><td>'+tamp[k][3]['type']+'</td>  <td>'+tamp[k][4]['capacity']+'</td>  <td>'+tamp[k][5]['year']+'</td> <td>'+tamp[k][6]['gs']+'</td><td>'+tamp[k][7]['price']+'</td><td></td></tr>');
			
		}
	
	});
	
	//Capacity
	
	$(".capacity").change(function(e){
		var capacity = $(this).val();
		var tamp = new Array();
		$(this).css("border","2px solid #2ad62a");
		$(".model").css("border","none");
		$(".brand").css("border","none");
		$(".ln").css("border","none");
		$(".year").css("border","none");
		$(".type").css("border","none");
		$(".gs").css("border","none");
		
		for(var k in all){
			for(var c in k){
				if(all[k][4]['capacity'] == capacity){
					
					tamp[incrTamp]= new Array({'ln': all[k][0]['ln']},
					{'brand': all[k][1]['brand']},
					{'model': all[k][2]['model']},
					{'type': all[k][3]['type']},
					{'capacity': all[k][4]['capacity']},
					{'year': all[k][5]['year']},
					{'gs': all[k][6]['gs']},
					{'price': all[k][7]['price']}
					);
					incrTamp++;
				}
			}
		}
		console.log(tamp);
		$('tbody').html('');
		for(var k in tamp){
			
				$('tbody').append('<tr class="trCar"> <td>'+tamp[k][0]['ln']+'</td> <td>'+tamp[k][1]['brand']+'</td><td >'+tamp[k][2]['model']+'</td><td>'+tamp[k][3]['type']+'</td>  <td>'+tamp[k][4]['capacity']+'</td>  <td>'+tamp[k][5]['year']+'</td> <td>'+tamp[k][6]['gs']+'</td><td>'+tamp[k][7]['price']+'</td><td></td></tr>');
			
		}
	
	});
	
	//Year
	
	$(".year").change(function(e){
		var year = $(this).val();
		var tamp = new Array();
		$(this).css("border","2px solid #2ad62a");
		$(".model").css("border","none");
		$(".brand").css("border","none");
		$(".ln").css("border","none");
		$(".capacity").css("border","none");
		$(".type").css("border","none");
		$(".gs").css("border","none");
		
		for(var k in all){
			for(var c in k){
				if(all[k][5]['year'] == year){
					
					tamp[incrTamp]= new Array({'ln': all[k][0]['ln']},
					{'brand': all[k][1]['brand']},
					{'model': all[k][2]['model']},
					{'type': all[k][3]['type']},
					{'capacity': all[k][4]['capacity']},
					{'year': all[k][5]['year']},
					{'gs': all[k][6]['gs']},
					{'price': all[k][7]['price']}
					);
					incrTamp++;
				}
			}
		}
		$('tbody').html('');
		for(var k in tamp){
			for(var c in k){
				$('tbody').append('<tr class="trCar"> <td>'+tamp[k][0]['ln']+'</td> <td>'+tamp[k][1]['brand']+'</td><td >'+tamp[k][2]['model']+'</td><td>'+tamp[k][3]['type']+'</td>  <td>'+tamp[k][4]['capacity']+'</td>  <td>'+tamp[k][5]['year']+'</td> <td>'+tamp[k][6]['gs']+'</td><td>'+tamp[k][7]['price']+'</td><td></td></tr>');
			}
		}
	
	});
	
	// Gas consumption
	
	$(".gs").change(function(e){
		var gs = $(this).val();
		var tamp = new Array();
		$(this).css("border","2px solid #2ad62a");
		$(".model").css("border","none");
		$(".brand").css("border","none");
		$(".ln").css("border","none");
		$(".year").css("border","none");
		$(".type").css("border","none");
		$(".capacity").css("border","none");
		
		for(var k in all){
			for(var c in k){
				if(all[k][6]['gs'] == gs){
					
					tamp[incrTamp]= new Array({'ln': all[k][0]['ln']},
					{'brand': all[k][1]['brand']},
					{'model': all[k][2]['model']},
					{'type': all[k][3]['type']},
					{'capacity': all[k][4]['capacity']},
					{'year': all[k][5]['year']},
					{'gs': all[k][6]['gs']},
					{'price': all[k][7]['price']}
					);
					incrTamp++;
				}
			}
		}
		$('tbody').html('');
		for(var k in tamp){
			
				$('tbody').append('<tr class="trCar"> <td>'+tamp[k][0]['ln']+'</td> <td>'+tamp[k][1]['brand']+'</td><td >'+tamp[k][2]['model']+'</td><td>'+tamp[k][3]['type']+'</td>  <td>'+tamp[k][4]['capacity']+'</td>  <td>'+tamp[k][5]['year']+'</td> <td>'+tamp[k][6]['gs']+'</td><td>'+tamp[k][7]['price']+'</td><td></td></tr>');
			
		}
	
	});
	
	//All
	
	$(".submit").click(function(e){
		$(".gs").css("border","none");
		$(".model").css("border","none");
		$(".brand").css("border","none");
		$(".ln").css("border","none");
		$(".year").css("border","none");
		$(".type").css("border","none");
		$(".capacity").css("border","none");
		$('tbody').html('');
		for(var k in all){
		
				$('tbody').append('<tr class="trCar"> <td>'+all[k][0]['ln']+'</td> <td>'+all[k][1]['brand']+'</td><td >'+all[k][2]['model']+'</td><td>'+all[k][3]['type']+'</td>  <td>'+all[k][4]['capacity']+'</td>  <td>'+all[k][5]['year']+'</td> <td>'+all[k][6]['gs']+'</td><td>'+all[k][7]['price']+'</td><td></td></tr>');
			
		}
	
	});
	
});
	
</script>
</html>