<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*/ <th:block th:include="fragments/header :: includes"></th:block> /*/-->
<body>

<!--/*/ <th:block th:include="fragments/header :: menu_stat"></th:block> /*/-->

<div class="container">
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <div sec:authorize="hasAuthority('backoffice')">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4><b>Nombre et taux des retards</b></h4>
                </div>
                <div class="panel-body">
                    <b><u>Statistiques par année :</u></b><br/><br/>
                    <table class="table table-striped">
                        <tr>
                            <th> <b>Année</b></th>
                            <th> <b>Réservation</b></th>
                            <th> <b>Retards</b></th>
                            <th> <b>Taux</b></th>
                        </tr>
                        <tr>
                            <td>2017</td>
                            <td th:text="${nbHisto}"></td>
                            <td th:text="${nbDelay}"></td>
                            <td th:text="${rateDelay}"> %</td>
                        </tr>
                    </table>
                    <br/>

                    <b><u>Statistiques par mois : </u></b><br/><br/>
                    <table class="table table-striped">
                        <tr>
                            <th><b>Mois</b></th>
                            <th ><b>Réservation</b></th>
                            <th ><b>Retard</b></th>
                            <th ><b>Taux</b></th>
                        </tr>
                        <tr th:each="stat : ${listStat}">
                            <td th:text="${stat.month}">Mois</td>
                            <td th:text="${stat.nb_histo}">Réservation</td>
                            <td th:text="${stat.nb_delay}">Retard</td>
                            <td th:text="${stat.rate}">Taux</td>
                        </tr>
                    </table>
                </div>
            </div>
            </div>
        </div>
        <div class="col-xs-3">
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/-->
</body>
</html>