<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*/ <th:block th:include="fragments/header :: includes"></th:block> /*/-->
<body>
<!--/*/ <th:block th:include="fragments/header :: menu_stat"></th:block> /*/-->

<div class="container">
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <div sec:authorize="hasAuthority('backoffice')">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4><b>Analyse statistique des retards</b></h4>
                    </div>
                    <div class="panel-body">
                        <b><u>Données brutes des retards :</u></b><br/><br/>
                        <table class="table table-striped">
                            <tr class="active">
                                <th> <b>Nombre</b></th>
                                <th> <b>Moyenne</b></th>
                                <th> <b>Variance</b></th>
                                <th> <b>Ecart-type</b></th>
                            </tr>
                            <tr class="active">
                                <td th:text="${delay_list_size}"></td>
                                <td th:text="${delay_mean}"></td>
                                <td th:text="${delay_variance}"></td>
                                <td th:text="${delay_sigma}"> %</td>
                            </tr>
                        </table>
                        <br/>

                        <hr/>

                        <br/>
                        <b><u>Données aberrantes des retards (2 sigmas) :</u></b><br/><br/>
                        <table class="table table-striped">
                            <tr class="warning">
                                <th> <b>Nombre</b></th>
                                <th> <b>Moyenne</b></th>
                                <th> <b>Variance</b></th>
                                <th> <b>Ecart-type</b></th>
                            </tr>
                            <tr class="warning">
                                <td th:text="${abnormal_list_size_2}"></td>
                                <td th:text="${abnormal_mean_2}"></td>
                                <td th:text="${abnormal_variance_2}"></td>
                                <td th:text="${abnormal_sigma_2}"> %</td>
                            </tr>
                        </table>
                        <b><u>Données purgées des retards (2 sigmas) :</u></b><br/><br/>
                        <table class="table table-striped">
                            <tr class="info">
                                <th> <b>Nombre</b></th>
                                <th> <b>Moyenne</b></th>
                                <th> <b>Variance</b></th>
                                <th> <b>Ecart-type</b></th>
                            </tr>
                            <tr class="info">
                                <td th:text="${purged_series_size_2}"></td>
                                <td th:text="${purged_mean_2}"></td>
                                <td th:text="${purged_variance_2}"></td>
                                <td th:text="${purged_sigma_2}"> %</td>
                            </tr>
                        </table>
                        <br/>

                        <hr/>

                        <br/>
                        <b><u>Données aberrantes des retards (3 sigmas) :</u></b><br/><br/>
                        <table class="table table-striped">
                            <tr class="danger">
                                <th> <b>Nombre</b></th>
                                <th> <b>Moyenne</b></th>
                                <th> <b>Variance</b></th>
                                <th> <b>Ecart-type</b></th>
                            </tr>
                            <tr class="danger">
                                <td th:text="${abnormal_list_size_3}"></td>
                                <td th:text="${abnormal_mean_3}"></td>
                                <td th:text="${abnormal_variance_3}"></td>
                                <td th:text="${abnormal_sigma_3}"> %</td>
                            </tr>
                        </table>
                        <br/>

                        <b><u>Données purgées des retards (3 sigmas) :</u></b><br/><br/>
                        <table class="table table-striped">
                            <tr class="success">
                                <th> <b>Nombre</b></th>
                                <th> <b>Moyenne</b></th>
                                <th> <b>Variance</b></th>
                                <th> <b>Ecart-type</b></th>
                            </tr>
                            <tr class="success">
                                <td th:text="${purged_series_size_3}"></td>
                                <td th:text="${purged_mean_3}"></td>
                                <td th:text="${purged_variance_3}"></td>
                                <td th:text="${purged_sigma_3}"> %</td>
                            </tr>
                        </table>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/-->
</body>
</html>