<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*/ <th:block th:include="fragments/header :: includes"></th:block> /*/-->
<body>
<!--/*/ <th:block th:include="fragments/header :: menu"></th:block> /*/-->
<div class="container">
    <div class="row">
        <div class="col-xs-3">
        </div>
        <div class="col-xs-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4><b>Add percent on type sector</b></h4>
                </div>
                <div class="panel-body">
                    <form th:object="${typeSector}" th:action="@{/referentielTarifTS}" method="post">

                        <div class="alert alert-success" th:text="${message}" th:if="${message != null}"></div>
                        <div class="alert alert-danger" th:text="${error}" th:if="${error != null}"></div>

                        <input type="hidden" th:field="*{id}"/>
                        <div class="form-group ${error != null ? 'has-error' : ''}">

                            <label><b>Id : </b></label>
                            <div>
                                <input readonly="readonly" class="form-control" type="text" th:field="*{id}"/>
                            </div>
                            <label><b>Color : </b></label>
                            <div>
                                <input readonly="readonly" class="form-control" type="text" th:field="*{color}"/>
                            </div>
                            <label><b>Percent : </b></label>
                            <div>
                                <input class="form-control" type="text" th:field="*{percent}"/>
                            </div>
                        </div>
                        <div class="offset-sm-2 col-sm-10">
                            <div class="form-group">
                                <button type="submit" name="action" value="save" class="btn btn-primary">Save</button>
                                <a th:href="@{/referentielTarifTS}" class="btn btn-danger">Back</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/-->
</body>
</html>
